.div {
  position: absolute;
  color: whitesmoke;
  font-size: 150px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  top: 20vh;
  left: 47vw;
}

.addButton {
  position: absolute;
  height: 115px;
  width: 385px;
  border-radius: 200px;
  top: 50vh;
  left: 23vw;
  padding: 10px 10px 25px;
  border: 10px solid #25c0d2;
  background-color: black;
  cursor: pointer;
  color: #25c0d2;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.addButton:hover {
  border: 1px solid #25c0d2;
  font-size: 50px;
}

.subtractButton {
  position: absolute;
  height: 115px;
  width: 385px;
  border-radius: 200px;
  top: 50vh;
  left: 52vw;
  padding: 10px 10px 25px;
  border: 10px solid #25c0d2;
  background-color: black;
  cursor: pointer;
  color: #25c0d2;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.subtractButton:hover {
  border: 1px solid #25c0d2;
  font-size: 50px;
}
